@mixin to-xsl {
    @media (max-width: 500px) { @content; }
}
@mixin to-xs {
    @media (max-width: 767px) { @content; }
}
@mixin to-noxs {
    @media (min-width: 767px) { @content; }
}
@mixin to-sm {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
}
@mixin to-md {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
}
@mixin to-lg {
    @media (min-width: 1200px) { @content; }
}
@mixin to-lgl {
    @media (min-width: 1400px) and (max-width: 15000px) { @content; }
}
@mixin to-lgs {
    @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin to-smh {
    @media (max-height: 799px) and (min-width: 767px) { @content; }
}
@mixin to-mdh {
    @media (min-height: 800px) and (max-height: 1000px) and (min-width: 767px) { @content; }
}
@mixin to-lgh {
    @media (min-height: 800px) and (min-width: 767px) { @content; }
}