@import url('https://fonts.googleapis.com/css?family=Caveat');

/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v1-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'),
    url('../fonts/poppins-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v1-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Poppins-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v1-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v1-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('../fonts/poppins-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v1-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Poppins-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v1-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v1-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('../fonts/poppins-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v1-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Poppins-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v1-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins'), local('Poppins-Regular'),
    url('../fonts/poppins-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v1-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v1-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/poppins-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v1-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Poppins-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v1-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* gilda-display-regular - latin */
@font-face {
    font-family: 'Gilda Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gilda-display-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Gilda Display'), local('GildaDisplay-Regular'),
    url('../fonts/gilda-display-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gilda-display-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilda-display-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GildaDisplay-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilda-display-v4-latin-regular.svg#GildaDisplay') format('svg'); /* Legacy iOS */
}



/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Merriweather'), local('Merriweather-Regular'),
    url('../fonts/merriweather-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/merriweather-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/merriweather-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/merriweather-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/merriweather-v15-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* allura-regular - latin */
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GillSans-SemiBold.ttf'); /* IE9 Compat Modes */
}
